<h1>{{actionType}} blog post</h1>
<div class="col-md-6 order-md-last d-flex">

  <form action="#" class="bg-light ui form" [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" formControlName="title" style="cursor: auto;">
    </div>
    <span class="text-danger ml-3" *ngIf="title?.invalid && formDir.submitted">
      Title is required.
    </span>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Your Email" formControlName="email">
       <span class="text-danger ml-3" *ngIf="email?.invalid && formDir.submitted">
      Email is required.
    </span>
    </div>
   
    <div class="form-group">
      <textarea name="" id="" cols="30" rows="7" class="form-control" [formControl]="body" formControlName="body" placeholder="Message"></textarea>
      <span class="text-danger ml-3" *ngIf="body?.invalid && formDir.submitted">
        Message is required.
      </span>
    </div>
    <div class="form-group">
      <tag-input formControlName="tag" id="tag"></tag-input>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success float-right">Save</button>
      <button class="btn btn-danger float-right " (click)="cancel()">Cancel</button>

    </div>
  </form>
</div>
