:root {
    --po-red: rgb(236, 29, 37);
    --po-white: rgb(245, 245, 245);
    --po-black: #2f2f2f;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/css/material.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }


.main-container {
    padding-top: 6px;
}

.module-header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: -12px;
    background-color:var(--po-red);
    color: var(--po-white);
    border-radius: 8px !important;
}

.module-container{
    box-shadow: 0 0 6px #ccc;
}

#busyOverlay {
    background-color: rgba(200, 200, 200, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}

.absolute-full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input, textarea, select {
    outline: none;
    border: 1px solid #ccc !important;
}

input.is-invalid, textarea.is-invalid, select.is-invalid {
    outline: none;
    border: 1px var(--po-red) solid !important;
    box-shadow: none !important;
}

input:focus, textarea:focus, select:focus, .form-control:focus {
    box-shadow: 0 0 0 1px #aaa;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fafafa;
}

input.datepicker {
    background-color: #fff !important;
    width: 175px !important;
}

.dropdown-item {
    border-left: 4px solid transparent;
}

.dropdown-menu.show {
    box-shadow: 0 0 6px rgba(120,120,120,.5);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--po-red);
    background-color: #e3e3e3;
    border-left: 4px solid var(--po-red);
}

.modal-open .modal {
    backdrop-filter: blur(4px);
}

.no-decoration a:link, .no-decoration a:active, .no-decoration a:hover, .no-decoration input, .no-decoration input:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-image: unset;
    background-color: #fefefe;
    color: var(--po-red);
}

.btn-secondary:hover {
    background-image: unset;
    background-color: #fff;
    border-color: var(--po-red);
    ;
}

/* begin: carousel */

.carousel-control-prev {
    filter: drop-shadow(1px 1px 4px black);
}

.carousel-control-next {
    filter: drop-shadow(1px 1px 4px black);
}

.carousel-caption {
    background-color: #a9a9a97f;
    width: 100%;
    left: 20px;
    right: 20px;
}

.carousel-item-body {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end:   carousel */

/* begin:   gj datepicker */

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    position: absolute;
    font-size: 21px;
    top: 6px;
    left: 9px
}

/* end:   gj datepicker */

/* start:   sweet alert */

.swal-button {
    background-color: #fefefe;
    color: var(--po-red);
    border: 1px solid var(--po-red);
    ;
    transition: 0.3s;
}

.swal-button:focus {
    box-shadow: none;
}

.swal-button:not([disabled]):hover {
    background-color: var(--po-red);
    color: #fff;
}

/* end:   sweet alert */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.dealer-information-map {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;
}

.admin-edit {
    position: absolute;
    right: -5px;
    top: -15px;
    z-index: 3;
}

body .popover {
    display: none !important;
}

.error {
    color: var(--po-red);
    font-style: italic;
}

.material-icons {
    vertical-align: middle;
}

/* begin:   full calendar */

.fc-event {
    background-color: #f7e6d2;
    border: 1px solid var(--po-red);
    padding: 2px;
}

    .fc-event:hover {
        background-color: var(--po-red);
        color: #fff !important;
        cursor: pointer;
    }

.event-list-container {
    overflow-y: auto;
    overflow-x: hidden;
}
.fc-title{
    font-size:larger;
    font-weight:bold;
    color:white;
}
/* end:   full calendar */

/* begin: drag drop file upload */

div.inputDragDrop {
    height: 100%;
    margin-bottom: 0;
}

.inputDragDrop .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
}

.inputDragDrop .form-control-file:before {
    background-color: #fafafa;
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    padding-top: 1rem;
    opacity: .9;
    visibility: visible;
    text-align: center;
    border: 0.2em dashed #ccc;
    overflow: hidden;
}

.inputDragDrop .form-control-file:hover:before {
    border: 0.2em solid #aaa;
}
/* end: drag drop file upload */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>a:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin-top: 5px;
    margin-left: 8px;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 1px;
    
  }

    @media (max-width: 991px) {  
        .navbar-dark .navbar-nav .dropdown-menu .nav-link{
            padding-left: 10px;
        }

        .navbar-nav .nav-link {
            padding-left: 1rem;
        }
    }
  
  .navbar {
      padding-left: 0;
      border: 0;
  }

  .navbar-nav .dropdown-menu {
      background-color: var(--po-white);
  }

  .navbar-nav .nav-link {
      white-space: nowrap;
  }

  .navbar-dark .navbar-nav .nav-link {
      color: var(--po-white);
  }

  .navbar-dark .navbar-nav .dropdown-menu .nav-link {
    color: var(--po-black);
    }

  .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: var(--po-red);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--po-white);
    background-color: var(--po-red);
}

/* begin: select2 */
.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
}
/* end: select2 */



  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  @media (min-width: 991px) {
    .dropdown-menu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
  